---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=8252019ab01a884b0c2f10e3b94fad19&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denverskyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":2587,"perpage":1,"total":2587,"photo":[{"id":"51195695366","owner":"34235577@N03","secret":"d8fbfa0360","server":"65535","farm":66,"title":"G9xM2-IMG_8038","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Tue, 15 Jun 2021 02:01:18 GMT
recorded_with: VCR 6.0.0
