---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=8252019ab01a884b0c2f10e3b94fad19&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":287897,"perpage":1,"total":287897,"photo":[{"id":"51249782114","owner":"167460542@N02","secret":"0acd02cbb6","server":"65535","farm":66,"title":"ADU
        College in Central Park (Stapleton) neighborhood of Denver, CO","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Wed, 16 Jun 2021 03:46:41 GMT
recorded_with: VCR 6.0.0
