---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=8252019ab01a884b0c2f10e3b94fad19&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":287897,"perpage":1,"total":287897,"photo":[{"id":"51249782114","owner":"167460542@N02","secret":"0acd02cbb6","server":"65535","farm":66,"title":"ADU
        College in Central Park (Stapleton) neighborhood of Denver, CO","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Wed, 16 Jun 2021 03:46:39 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=8252019ab01a884b0c2f10e3b94fad19&format=json&method=flickr.photos.getInfo&nojsoncallback=1&page=1&per_page=1&photo_id=51249782114
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51249782114","secret":"0acd02cbb6","server":"65535","farm":66,"dateuploaded":"1623773561","isfavorite":0,"license":"4","safety_level":"0","rotation":0,"originalsecret":"12b363c07d","originalformat":"jpg","owner":{"nsid":"167460542@N02","username":"Sightline
        Institute","realname":"Sightline Institute: Missing Middle Homes Photo Library","location":"","iconserver":"7886","iconfarm":8,"path_alias":"sightline_middle_housing"},"title":{"_content":"ADU
        College in Central Park (Stapleton) neighborhood of Denver, CO"},"description":{"_content":"Missing
        middle homes, like ADUs, backyard cottages, mother-in-law suites, duplexes,
        triplexes, low-rise apartments or townhouses, have long fit into urban neighborhoods,
        often providing rental and purchase options more affordable than single-detached
        houses. Sightline''s Modest Middle Homes Library is a resource for abundant
        housing advocates, urbanists, planners, and journalists. All our photos are
        free to use. We will continue to add more and we invite you to share your
        own photos with us. \n\nHave a photo to submit? Contact webster@sightline.org\n\nPhoto
        by: @BrettVA"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1623773561","taken":"2006-01-22
        03:02:21","takengranularity":"0","takenunknown":"0","lastupdate":"1623773569"},"views":"2","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"167440194-51249782114-314258","author":"167460542@N02","authorname":"Sightline
        Institute","raw":"ADU","_content":"adu","machine_tag":false}]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/sightline_middle_housing\/51249782114\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Wed, 16 Jun 2021 03:46:39 GMT
recorded_with: VCR 6.0.0
